<img src="./images/pets-3715733_1280.jpg" class="titleImg center-align">
        <div class="text-center m-5">
            <h2 class="display-4">What We do</h2>
        </div>
        <div class="container text-center containerRows">
            <div class="container text-center w-25">
                <div class="col card">
                    <h1 class="bg-light borderBottom">Rescue - Rehabilitation</h1>
                    <img class="box-4" src="../images/silhouette-1314467_640.png" alt="rescue img">
                    <div class="">
                        <p>After a thorough examination, our trained staff develops a personalized rehabilitation plan that meets the unique situation of our animals and provides the love and care they need.</p>
                    </div>
                    <a href="#" class="learnMore">Learn More</a>
                </div>
            </div>
            <div class="container text-center w-25">
                <div class="col card">
                    <h1 class="bg-light borderBottom">Adoption with Love</h1>
                    <img class="box-4" src="../images/adopt-2167903_640.png" alt="adopt img">
                    <div class="">
                        <p>We put our love and care into making sure that our animals get a second chance at finding their new home and family. After an initial application and interview, our Adoption process allows families to meet pets before any final decision is made.</p>
                    </div>
                    <a href="/ourAnimals" class="learnMore">Learn More</a>
                </div>
            </div>
            <div class="container text-center w-25">
                <div class="col card">
                    <h1 class="bg-light borderBottom">Service with Care</h1>
                    <img class="box-4" src="../images/silhouette-1314467_640.png" alt="care img">
                    <div class="">
                        <p>From the moment our pets arrive in our facilities until the moment they transition to their new home and family, our professional staff is ready to provide the compassion, love and care that our animals need to become part of a success story.</p>
                    </div>
                    <a href="#" class="learnMore">Learn More</a>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="display-4 text-center p-5">Why choose Us ?</h3>
            <p class="row card">At Paws and Pals, we strive to be as compassionate and caring as possible with our dogs, cats and other animals. We are becoming the leading shelter in the region in placing animals in qualified adoptive homes. We also strive to build modern facilities that enable us to expand our rescue and adoption, community outreach and education services.</p>
        </div>