<div class="row container inputMarg">
        <div class="col-md-6 card p-3">
            <h2 class="text-center">Login</h2>
    
            <form class="form login-form fieldMarg">
                <div class="form-group m-3">
                    <input class="form-input" type="text" id="email-login" placeholder="email" />
                </div>
                <div class="form-group m-3">
                    <input class="form-input" type="password" id="password-login" placeholder="password" />
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary text-center" type="submit">login</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 card p-3">
            <h2 class="text-center">Signup</h2>
    
            <form class="form signup-form fieldMarg">
                <div class="form-group m-3">
                    <input class="form-input" type="text" id="name-signup" placeholder="name" />
                </div>
                <div class="form-group m-3">
                    <input class="form-input" type="text" id="email-signup" placeholder="email" />
                </div>
                <div class="form-group m-3">
                    <input class="form-input" type="password" id="password-signup" placeholder="password" />
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit">signup</button>
                </div>
            </form>
        </div>
    </div>

<script src="./js/login.js"></script>