<!-- For each gallery, the 'gallery-details' partial is used to render the gallery data -->
<div class="allInputs">
<div class="testingMargin">
{{#each pets as |pet|}}
{{> animal-details}}
{{/each}}
</div>
</div>
