html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* MY STYLING */
body {
    min-height: 100%;
    min-width: fit-content;
    background-image: url(../images/repeated-square.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.myNav {
    height: 125px; 
    width: 100%; 
    position: fixed; 
    z-index: 1000000;
}

.nav-link {
    font-size: 18px;
}

.navTitle{
    font-size: 30px;
}

.titleImg {
    width: 100%; 
    opacity: 95%;
    border-bottom: solid 2px black;
}

.borderBottom {
    border-bottom: solid 2px black;
}

.containerRows {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: center;
}

.card {
    font-size: 22px;
    box-shadow: -2px 2px grey;
    border-radius: 8px;
}

.card h1 {
    font-size: 36px;
}

.learnMore {
    text-decoration: none;
}

.petCard {
    width: 18rem;
}
.custom-file-container {
    max-width: 400px;
    margin: 0 auto;
}

.login-form {
    margin-top: 100px;
    text-align: center;
}
.signup-form {
    margin-top: 100px;
    text-align: center;
}

.form-input {
    margin: 15px;
}

.inputMarg {
    margin-top: 300px;
    width: 500px;
    height: 500px;
}

.allInputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inputMarg h2 {
    font-size: 35px;
    text-align: center;
}